
{% extends "applications/base.html" %}
{% load static %}
{% block title %}Your Applications{% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'stylesheets/applications.css'%}">
{% endblock stylesheet %}

{% block error_message %}{{error_message}}{% endblock error_message %}
{% block content %}
<h1>Your Saved Applications</h1>
{% for app in applications %}
    <a href="{% url 'application_details' app.id %}"><h1>{{ app.job_title }}</h1></a>
    <form method="post" action="{% url 'delete_application' app.id%}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    <form method="get" action="{% url 'update_application' app.id%}">
        {% csrf_token %}
        <button type="submit">Update</button>
    </form>
{% endfor %}
{% endblock content %}